{% extends 'base.html' %}
{% block title %} {{ user.username }} {% endblock %}
{% load custom_filters %}
{% block content %}
<br>
{% if personal_info or account or coins %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Personal Info</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Trader Type</th>
                        <th>Margin Coin</th>
                        <th>Account Equity</th>
                        <th>USDT Equity</th>
                        <th>BTC Equity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ personal_info.data.userId }}</td>
                        <td>{{ personal_info.data.traderType }}</td>
                        <td>{{ account.data.marginCoin }}</td>
                        <td>{{ account.data.accountEquity }}</td>
                        <td>{{ account.data.usdtEquity }}</td>
                        <td>{{ account.data.btcEquity }}</td>
                    </tr>
                </tbody>
            </table>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Account Assets</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Coin Name</th>
                        <th>Total Balance</th>
                        <th>Available</th>
                        <th>Reserved</th>
                        <th>Today's PnL</th>
                    </tr>
                </thead>
                <tbody>
                    {% with has_assets=False %}
                        {% for asset in account_assets.data %}
                            {% if asset.available > '0' %}
                                {% with has_assets=True %}
                                    <tr>
                                        <td>{{ asset.coin }}</td>
                                        <td>{{ asset.available|add:asset.frozen|add:asset.locked }}</td>
                                        <td>{{ asset.available }}</td>
                                        <td>{{ asset.frozen|add:asset.locked }}</td>
                                    </tr>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                        {% if not has_assets %}
                            <tr>
                                <td colspan="5">You have no assets in your account</td>
                            </tr>
                        {% endif %}
                    {% endwith %}
                </tbody>
            </table>
<div class="card">
    <div class="card-header">
        <h4 class="card-title">All Coins</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Coin Name</th>
                        <th>Price</th>
                        <th>24H Change</th>
                        <th>Volume</th>
                        <th class="d-flex flex-row-reverse">Details</th>
                    </tr>
                </thead>
                <tbody>

                        {% for coin in coins.data %}
                        <tr>
                            <td>{{ coin.symbol }}</td>
                            <td>{{ coin.open }}</td>
                            <td>{{ coin.change24h|multiply:100|floatformat:"2" }}%</td>
                            <td>{{ coin.baseVolume|format_value }}</td>
                            <td><a href="{% url "coin_detail" coin.symbol|lower %}" class="btn btn-md btn-success float-end me-2 ms-2">Details</a></td>
                        </tr>
                        {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% else %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">No Data Found</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <tbody>
                    <tr>
                        <td>Thare is no information. Please connect BitGet account on profile</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}